/* .name-comment h3 {
  font-size: 14px;
  margin-right: 5px;
  margin-top: 0;
}

.name-comment p {
  font-size: 14px;
  margin-top: 0;
} */

.comment-section {
  display: flex;
  flex-direction: column;
}
