.post-container {
}

.post-header {
  display: flex;
  padding: 10px;
  padding-bottom: 0;
}

.post-header img {
  border-radius: 50%;
  order: 0;
  width: 31px;
  height: 31px;
  padding-top: 4px;
}

/* .post-header h2 {
  order: 1;
  font-size: 15px;
  margin-left: 2%;
} */

/* .post img {
  width: 592px;
  height: 592px;
} */
.dynamic {
  padding: 10px;
}
.dynamic div {
  display: flex;
  justify-content: flex-start;
}

.dynamic p {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 14px;
}

.like {
  width: 35px;
  height: 35px;
}

.comment {
  margin-top: 4px;
  width: 32px;
  height: 32px;
}

.input {
  width: 96%;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  border-top: 1px solid lightgrey;
}
.input:focus {
  outline: none;
}
