.post-container {
}

.post-header {
  display: flex;
  padding: 10px;
  padding-bottom: 0;
}

.post-header img {
  border-radius: 50%;
  order: 0;
  width: 31px;
  height: 31px;
  padding-top: 4px;
}

.post-header h2 {
  order: 1;
  font-size: 15px;
  margin-left: 2%;
}

.post img {
  width: 592px;
  height: 592px;
}
